@model List<Web.GameStoreMVC.Models.Domain.Platform>

@{
	ViewData["Title"] = "Все платформы";
	int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
	int previousPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Все платформы</h1>
	</div>
</div>


<div class="container mt-3">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Название</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var platform in Model)
				{
					<tr>
						<td>@platform.Id</td>
						<td>@platform.Name</td>
						<td>
							<a asp-area=""
							   asp-controller="AdminPlatforms"
							   asp-action="Edit"
							   asp-route-id="@platform.Id"
							   class="btn btn-primary">
								Редактировать
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link"
					   asp-controller="AdminPlatforms"
					   asp-action="List"
					   asp-route-pageNumber="@previousPage">Предыдущая</a>
				</li>

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item">
						<a class="page-link"
						   asp-controller="AdminPlatforms"
						   asp-action="List"
						   asp-route-pageNumber="@i"
						   asp-route-pageSize="@ViewBag.PageSize">@i</a>
					</li>
				}

				<li class="page-item">
					<a class="page-link"
					   asp-controller="AdminPlatforms"
					   asp-action="List"
					   asp-route-pageNumber="@nextPage">Следующая</a>
				</li>
			</ul>
		</nav>
	}
	else
	{
		<p>Платформы не найдены!</p>
	}
</div>