@model List<Web.GameStoreMVC.Models.Domain.Game>

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Список игр - функционал админа</h1>
	</div>
</div>

<div class="container py-5">
	@if(Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Название</th>
					<th>Цена</th>
					<th>Год выпуска</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var game in Model)
				{
					<tr>
						<td>@game.Id</td>
						<td>@game.Name</td>
						<td>@game.Price руб.</td>
						<td>@game.YearOfRelease</td>
						<td>
							<div>
								@foreach (var genre in game.Genres)
								{
									<span class="badge bg-secondary">@genre.Name</span>
								}
							</div>
						</td>
						<td>
							<a asp-area=""
							asp-controller="AdminGames"
							asp-action="Edit"
							asp-route-id="@game.Id"
							class="btn btn-dark">
								Редактировать
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>Игр не найдено!</p>
	}
</div>